@model tudong.Models.GAME

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GAME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THELOAI.tenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THELOAI.tenTheLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
